body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #C5B6B8;
    color: #60000D;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.sub-header {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}

.streets-list-container{
    width: 700px; 
    margin: 0 auto;
}

.centered-image{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: block;    
}

.streets-list-container li:hover{
    cursor: pointer;
    background-color: gainsboro;
}

.reset-anchor{
    text-decoration: none;
    color: inherit;
}

.float-right{
    float: right;
}

.search-container{        
    margin: 0 auto;
}

.search-container input{
    width: 800px;
    line-height: 1.5px;
}

.str1 {
    stroke: #75C5F0;
    stroke-width: 1588;
}

.fil1 {
    fill: none;
}

.str0 {
    stroke: #FFFFFF;
    stroke-width: 529;
}

.fil0 {
    fill: #F7C5B4;
}

@-webkit-keyframes pulsar {
  0%   { opacity: 1; }
  50%   { opacity: 0.3; }
  100% { opacity: 1; }
}
@-moz-keyframes pulsar {
  0%   { opacity: 1; }
  50%   { opacity: 0.3; }
  100% { opacity: 1; }
}
@-o-keyframes pulsar {
  0%   { opacity: 1; }
  50%   { opacity: 0.3; }
  100% { opacity: 1; }
}
@keyframes pulsar {
  0%   { opacity: 1; }
  50%   { opacity: 0.3; }
  100% { opacity: 1; }
}

.pulsar-animation {
  -webkit-animation: pulsar 1.4s infinite; /* Safari 4+ */
  -moz-animation:    pulsar 1.4s infinite; /* Fx 5+ */
  -o-animation:      pulsar 1.4s infinite; /* Opera 12+ */
  animation:         pulsar 1.4s infinite; /* IE 10+, Fx 29+ */
}

#mapContent {
  margin-left:  30%;
  margin-right: 10%;
}
#mapNavbar {
  float: left;
  width: 30%;
  height: 100%; 
  padding: 2%;
}

#mapNavbarPanel {
  height: 150%;
  background-color: #F3E6E8;
  color: #A23645;
  padding: 30px 20px;
  width: 250px;
  border: 2px solid #60000D;
}

#mapNavbarPanel li{
    list-style: none;
    font-size: 16px;
    cursor: pointer;
}

#mapNavbar li:hover{
    color: #60000D;
}

#mapNavbarPanel ul{
    list-style: none;
    padding-left: 0px;
}

.bv-navbar{
     background-color: #60000D;  
}

.navbar-default .navbar-nav>li>a.bv-menu-link{
    color: #F3E6E8;
    cursor: pointer;    
}

.logo{
    float: left;
    padding-right: 100px;
}

.bv-menu-options{
    width: 100%;
    height: 100px;
    background-color: #F3E6E8;
}

.search-result{
  background-color: #F3E6E8;
  color: #60000D;
  width: 800px;
  height: 150px;
  margin-top: 20px;
}

.ad-title{
  display: inline-block;
  padding-left: 20px;
  color: #7F0011;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.ad-date{
  float: right;
  display: inline-block;
  padding-right: 10px;
}

.ad-price{
  margin-left: 20px;
  display: inline-block;
}

.ad-middle-container{
  height: 50px;
}

.ad-geo{
  margin-bottom: 20px;
  color: #A23645;
}

.ad-district{
  font-size: 24px;
  margin-left: 20px
}

.ad-street{
  font-size: 20px;
}

.trends{
    margin-left: 20px;
    margin-top: 200px;
    position: absolute;
    background-color: #F3E6E8;
    color: #7F0011;
    padding-right: 50px;
}

.trends h2{
    color: #60000D;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.bv-trend{
    list-style: none;
    cursor: pointer;
}

@media all and (max-width: 1600px) {
  .trends{
      display: none;
  }
}

.bv-search input{
    width: 100%;
    color: #C5B6B8;
    height: 50px;
    font-size: 20px;
    background-color: #F3E6E8;
}

.dropdown-toggle{
    color: #C5B6B8;
    background-color: #F3E6E8;
    height: 50px;
    width: 150px;
}

.dropdown-menu>li>a.district-filter{
    color: #7F0011;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
}