body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.sub-header {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}

.streets-list-container{
    width: 700px; 
    margin: 0 auto;
}

.centered-image{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: block;    
}

.streets-list-container li:hover{
    cursor: pointer;
    background-color: gainsboro;
}

.reset-anchor{
    text-decoration: none;
    color: inherit;
}

.float-right{
    float: right;
}

.search-container{        
    margin: 0 auto;
}

.search-container input{
    width: 800px;
    line-height: 1.5px;
}